<h1>Kote</h1>
<label for="id1">Name</label>
<input [(ngModel)]="user1.name" type="text" id="id1" class="form-control" />
<label for="id2">Age</label>
<input [(ngModel)]="user1.Age" type="number" id="id2" class="form-control" />
<label for="id3">Position</label>
<input [(ngModel)]="user1.position" type="text" id="id3" class="form-control" />
<label for="id4">imahe URL</label>
<input [(ngModel)]="user1.image" type="text" id="id4" class="form-control" />
<label for="id5">social URL</label>
<input [(ngModel)]="user1.social" type="text" id="id5" class="form-control" />
<br />
<button (click)="trigger()" class="btn btn-danger">Add card</button>
<br />
<br />
<div *ngIf="isTrue" class="card" style="width: 18rem">
  <img [src]="user1.image" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ user1.name }}</h5>
    <h5 class="card-title">{{ user1.Age }}</h5>
    <h5 class="card-title">{{ user1.position }}</h5>

    <a [href]="user1.social" class="btn btn-primary" target="_blank"
      >facebook</a
    >
  </div>
</div>
